.maindiv{
    height: 150px;
    margin-top: 5px;
    width: 50%;
    /* border: 1px solid red; */
    background-color: white;
    display: flex;
    margin-left: 7px;
}

.maindiv img{
    height: 130px;
    width: 46%;
    float: left;
    margin: 7px;
    
    
}